html {
  margin: 0 10% 0 10%;
}

h1 {
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 150%;
  line-height: 0%;
  margin-top: 2%;
}

h2, button {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 100%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1%;
}

table {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 100%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1%;
}

p, #voteTracker {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 100%;
}

#voteTracker {
  border: 1px solid #aecfdf;
  background-color: #aecfdf;
  padding-left: 1%;
}

.container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  flex-flow: row;
  margin-left: 1%;
}

.container section {
  border: 1px solid #9f9fad;
  margin-right: 1%;
}

img {
  height: auto;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
}

section {
  flex-grow: 1;
  padding: 10px 0 10px 0;
}

button {
  padding: 5px 20px 5px 20px;
  background: #b6bce4;
  border: none;
}

#playAgain, #showResults, #keepPlaying {
  padding: 0;
}

#charts, canvas {
  width: 100%;
  height: auto;
}
